@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #e0bc88;
    --clr-main-dark: #6e4914;
    --clr-white-transparent:rgba(248, 244, 244, 0.8);
    --clr-white-transparent-more:rgba(248, 244, 244, 0.9);
    --clr-gray-light: rgb(117, 117, 117);
    --clr-gray-: rgb(58, 58, 58);
    --clr-gray-dark:rgb(29, 28, 28); 
    --clr-fucsia:  #c34262;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: var(--clr-main);
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}
aside{
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white-transparent);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo-marca{
    width: 8rem;
    border-radius: 1rem;
    background-color: var(--clr-white-transparent);
    margin-top: 10px;
   
}
.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-fucsia); 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}
.boton-menu.active {
    background-color: var(--clr-white-transparent);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}



.bi-hand-index-thumb-fill, 
.bi-hand-index-thumb{
    transform: rotateZ(90deg);
}

.boton-carrito{
    margin-top: 2rem;
}
.numerito{
    background-color: var(--clr-white-transparent);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}
.boton-carrito.active .numerito{
    background-color: var(--clr-main);
    color: var(--clr-white-transparent);
}
.texto-footer{
    color: var(--clr-white-transparent);
    font-size: .85rem;
}
main{
    background-color: var(--clr-white-transparent);
    margin: 1rem;
    border-radius: 2rem;
    margin-left: 0;
    padding: 2rem;
}

.titulo-principal{
    color: var(--clr-fucsia);
    margin-bottom: 2rem;
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: var(--clr-main);
    color: var(--clr-fucsia);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-nombre{
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white-transparent);
    color: var(--clr-fucsia);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white-transparent);
    transition: background-color .2s, color .2s;
}
.producto-agregar:hover{
    background-color: var(--clr-fucsia);
    color: var(--clr-white-transparent);
}

/**carrito**/

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado{
    color: var(--clr-main);
    
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: var(--clr-fucsia);
    padding:.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;

}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto-small{
    font-size: .75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-gray-);
    cursor: pointer;
}
.carrito-acciones{
    display: flex;
    justify-content:space-between;

}

.carrito-acciones-vaciar{
    border: 0;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-fucsia);
    text-transform: uppercase;
    cursor: pointer;
}
.carrito-acciones-derecha{
    display: flex;

}
.carrito-acciones-total{
    display: flex;
    background-color: white;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--clr-fucsia);
    text-transform: uppercase;
    gap: 1rem;
}
.carrito-acciones-comprar{
    border: 0;
    background-color: var(--clr-fucsia);
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled{
    display: none;
}

.header-mobile{
    display: none;
}
.close-menu{
    display: none;
}

/* Media queries*/
@media screen and (max-width: 850px) {
    .contenedor-productos{
        grid-template-columns: 1fr 1fr 1fr;
    } 
    .producto-imagen{
        width: 100%;
    }   
}

@media screen and (max-width: 675px) {
    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }   
    .producto-imagen{
        width: 100%;
    } 
}

@media screen and (max-width: 600px) {

    .wrapper{
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        
    }
    
    aside{
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0  100vmax rgba( 0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    main{
        margin-top: 0;
        margin: 1rem;
        padding: 2rem;
    }
    .producto-imagen{
        width: 100%;
    }

    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .open-menu, .close-menu{
        background-color: transparent;
        color: var(--clr-fucsia);
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }
    .close-menu{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto{
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }
    .carrrito-producto-subtotal{
        display: none;
    }
    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-productos{
        grid-template-columns: 1fr;
    }    
}